<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-content">
      <div class="hero-desktop">
        <h1 class="hero-title">
          Reviving the traditional
          <span class="hero-title-span">Ukrainian</span> artistry in every
          stitch.
        </h1>
        <a class="hero-link" href="#orders"
          >Order
          <svg
            class="hero-icon-svg"
            width="27.5"
            height="21"
            aria-label="arrow in the button"
          >
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>

      <img
        class="hero-picture"
        srcset="
          ./img/hero/girl-mobile-335w.jpg    335w,
          ./img/hero/girl-mobile-670w@2x.jpg 670w,
          ./img/hero/Girl-table-413w.jpg     413w,
          ./img/hero/Girl-table-826w@2x.jpg  826w,
          ./img/hero/girl-lapt-392w.jpg      392w,
          ./img/hero/girl-lapt-784w@2x.jpg   784w
        "
        sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
        data-src="./img/hero/girl-mobile-335w.jpg"
        alt="girl"
      />
    </div>
    <div class="hero-pictures">
      <div class="hero-picture-star">
        <svg
          class="hero-star-icon"
          width="52"
          height="51"
          aria-label="star solnce"
        >
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        <p class="hero-text">all embroidery is made by hand</p>
      </div>
      <img src="./img/hero/Group.png" alt="map" width="139" height="102" />
    </div>
  </div>
</section>
